<ion-view title="Friends">
  <ion-content class="has-header">
    <ion-list>
      <a class="item item-avatar item-icon-right" href="#" ng-repeat="social in socials">
        <img src="#">
        <h2>{{social.username}} - 
          <span class="title">
            {{social.type == 'like' ? 'Liked your activity' : 'Added you as a friend'}}
          </span>
        </h2>
        <p>12 days ago</p>
        <i class="icon ion-{{social.type == 'like' ? 'person-add' : 'thumbsup'}}"></i>
      </a>
    </ion-list>
  </ion-content>
</ion-view>
