<ion-view title="Stats">
  <ion-content class="has-header padding">
    <div class="row">
      <div class="col"><b>User</b></div>
      <div class="col"><b>Title</b></div>
      <div class="col"><b>Type</b></div>
    </div>
    <hr>
    <div class="row" ng-repeat="activity in activities">
      <div class="col">{{activity.username}}</div>
      <div class="col">{{activity.title}}</div>
      <div class="col">{{activityTypes[activity.type].label}}</div>
    </div>
    <hr>
    <div class="row">
      <div class="col">? users</div>
      <div class="col">{{activities.length}} activities</div>
      <div class="col">{{activityTypes.length}} types</div>
    </div>
  </ion-content>
</ion-view>
